<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sellerHeader</title>
  <link rel="stylesheet" href="/moamz_publishing/static/css/main/fragment/header/sellerHeader.css">
</head>
<body>
  <div id="header">
    <img src="/moamz_publishing/static/img/main/fragment/header/logo.png">
    <ul class="header-search">
      <li>
        <a href="#">서비스소개</a>
      </li>
      <li>
        <a href="#">공지사항</a>
      </li>
    </ul>
    <div class="header-btn">
      <div id="btn-img"><img src="/moamz_publishing/static/img/main/fragment/header/user.png"></div>
      <div id="btn-img"><img src="/moamz_publishing/static/img/main/fragment/header/chat.png"></div>
      <div id="btn-img"><img src="/moamz_publishing/static/img/main/fragment/header/notification.png"></div>
      <button id="login">로그인</button>
    </div>
    <!-- <button>로그아웃</button> -->
  </div>
</body>
</html>