<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>userFooter</title>
  <link rel="stylesheet" href="/moamz_publishing/static/css/main/fragment/footer/userFooter.css">
</head>
<body>
  <footer>
    <div class="company">
      <ul class="company-list">
        <li><strong>모아엠지</strong></li>
        <br>
        <li>모아엠지 소개</li>
        <li>쇼핑</li>
        <li>커뮤니티</li>
        <li>공지사항</li>
      </ul>
    </div>  
      
      <div id="notice">
        <ul class="moamz-info">
          <li>개인정보처리방식</li>
          <li>이용약관</li>
          <li>We Are Hiring</li>
        </ul>
      </div>
  </footer>
</body>
</html>